body.auth {
  background: linear-gradient(135deg,#020617,#0f172a);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: sans-serif;
}

form {
  background: #020617;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 30px #38bdf8;
}

input, button {
  width: 250px;
  padding: 12px;
  margin: 10px 0;
  border-radius: 10px;
  border: none;
}

button {
  background: #38bdf8;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  background: #0ea5e9;
}